body{background-color:#e5e3df !important}

.mat-tab-active,
.mat-tab-label-active,
.mat-tab-active:focus{background-color:rgba(236,
248,
248,
0.85) !important;
color:#4b797c !important;
opacity:1 !important}

.mat-tab-body{overflow:hidden !important}

div.mat-tab-labels{
	justify-content:space-between;
	background:white;
	min-height: 2.5rem;
	align-items: center;
}

.mat-list-text{display:flex;
align-content:flex-start;
align-items:flex-start;
width:100%}

@keyframes blink{0%{color:red}

100%{color:black}

}

@-webkit-keyframes blink{0%{color:red}

100%{color:black}

}

.blink{-webkit-animation:blink 1s linear infinite;
-moz-animation:blink 1s linear infinite;
animation:blink 1s linear infinite}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance:none;
margin:0}

form input::-webkit-validation-bubble-message,
form select::-webkit-validation-bubble-message,
form textarea::-webkit-validation-bubble-message{display:none}

form select.ng-invalid{
	color:lightgrey;
}

input[type=number]{-moz-appearance:textfield}

.ua-cardBg{
	/*background-color:#eceef !important*/
}

.num{color:red;
text-align:start;
position:relative;
top:0px;
float:right;
right:-3px}

[class*='col-']{float:left;
padding:2%}

a{text-decoration:none}

*,
*:after,
*:before{-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box}

h3{text-align:center;
margin-bottom:0}

h4{position:relative}

.grid{margin:0}

.col-1-4{width:25%}

.col-1-2{width:50%}

.col-1-3{width:33%}

.grid-pad{padding:10px 0}

.lbl-form_main{
	font-size:small;
	font-weight:bold;
	color:#4b797c;
	margin-bottom:0.35rem}

.lbl-form_main_attention{
	font-size:small;
	font-weight:normal;
	font-style:italic;
	color: darkgray;
	margin-bottom:0.35rem}


.form-input-chBox
{
	margin-top:0.35rem;
	font-size:small;
	font-weight:bold;
	color:#4b797c;
}

.toolBar_lbl_flexible{font-size:medium;
display:block;
white-space:pre-wrap;
text-overflow:ellipsis;
overflow:hidden;
width:100%}

.invalidInfo{margin-left:5px;
margin-top:5px;
color:#ed4b4b;
font-size:small}

.formLegend{font-size:16px;
line-height:1.15}

.formFrame_valid{background:rgba(0,
148,
133,
0.1);
padding:1%;
border-radius:0.25rem;
box-shadow:inset 0 1px 1px rgba(0,
148,
133,
0.075),
0 0 2px #009485}

.formFrame_invalid{background:rgba(227,
152,
152,
0.2);
padding:1%;
border-radius:0.25rem;
box-shadow:inset 0 1px 1px rgba(235,
16,
16,
0.95),
0 0 2px #eb1010}

.formFrame_optional{padding:1%;
border-radius:0.25rem;
box-shadow:inset 0 1px 1px rgba(0,
148,
133,
0.075),
0 0 2px #009485}

.formFrameUpload_optional{padding:1%;
border-radius:0.25rem;
border-color:lightgrey;
border-style:solid;
border-width:1px
}

.bs_submit_button{
	border:white !important;
	color:#4b797c !important;
	background:white !important;
	border-radius:0.15em !important;
	text-decoration:none !important;
}

.bs_submit_button:hover
{
	color:white !important;
	background:#4b797c !important;
	box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2),
	0px 2px 2px 0px rgba(0,0,0,0.14),
	0px 1px 5px 0px rgba(0,0,0,0.12);
	border-radius:0.15em !important;
}

.bs_submit_button:disabled{border:lightgrey 1px solid;
color:darkgrey;
background:lightgrey;
box-shadow:none;
border-radius:0.15em}

.formSubmitButton{border:#019ba5 1px solid;
color:#019ba5;
background:white;
box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2),
0px 2px 2px 0px rgba(0,
0,
0,
0.14),
0px 1px 5px 0px rgba(0,
0,
0,
0.12);
border-radius:0.15em}

.formSubmitButton:disabled{border:lightgrey 1px solid;
color:darkgrey;
background:lightgrey;
box-shadow:none;
border-radius:0.15em}

#header_userInfo{border-top:darkgrey 1px solid;
border-bottom:lightgrey 1px solid}

.form_gridList_mdList_mainParagraph{font-size:medium !important}

.form_gridList_mdList_secParagraph{font-size:smaller !important;
color:grey}

.form_gridList_mdList_mainParagraph_sm{font-size:smaller !important}

.form_gridList_mdList_secParagraph_sm{font-size:x-small !important;
color:grey}

.form_gridList_mdList_secParagraph_sm_info{
	font-size:x-small !important;
	color:orangered;
}


.form_gridListRow{border-top:thin solid lightgrey}

.infoIcon{font-size:medium;
color:grey}

.isInfoActive{color:#4b797c;
font-size:larger}

.infoText{font-size:small;
color:#4b797c;
transition:height 1s ease-in-out}

md-radio-button{margin:15px}

.my-grid-list-text-align-left>figure{justify-content:flex-start !important}

.form-control:focus{border-color:#019ba5;
box-shadow:inset 0 1px 1px rgba(0,
0,
0,
0.075),
0 0 8px rgba(1,
155,
165,
0.6);
border-left:5px solid #019ba5;
border-right:5px solid #019ba5}

#ngPrimeCalender .ui-inputtext.ui-state-focus,
.ui-widget-content .ui-inputtext.ui-state-focus,
.ui-widget-header .ui-inputtext.ui-state-focus{-moz-box-shadow:0px 0px 5px #1f89ce;
-webkit-box-shadow:0px 0px 5px #1f89ce;
box-shadow:0px 0px 5px #1f89ce;
border-color:#4b797c;
box-shadow:inset 0 1px 1px rgba(0,
0,
0,
0.075),
0 0 8px rgba(0,
153,
153,
0.6);
border-left:5px solid #019ba5;
border-right:5px solid #019ba5}

.ui-inputtext{display:block;
width:100%;
padding:0.5rem 0.75rem !important;
font-size:1rem !important;
line-height:1.25 !important;
color:#55595c !important;
background-color:#fff !important;
background-image:none !important;
background-clip:padding-box !important;
border:1px solid rgba(0,
0,
0,
0.15) !important;
border-radius:0.25rem !important}

.flexContainer_row{display:flex;
flex-wrap:wrap;
flex-direction:row;
align-items:center;
justify-content:space-between}

.flexContainer_col{display:flex;
flex-wrap:wrap;
flex-direction:column;
align-items:stretch;
min-width:100px;
margin-bottom:5px}

.checkbox_button_info{display:flex;
flex-direction:row;
align-items:center;
justify-content:space-around;
min-width:80px;
cursor:pointer;
float:right;
margin-right:10px}

.lbl-subform_title{margin-bottom:1rem;
font-size:medium;
font-weight:bold;
color:#4b797c}

.my_md_tab_title{
	/*word-wrap:break-word;*/
	margin-top:5%;
	margin-bottom:5%;
	line-height: 100%;
	display: inline-block;
}

.mat-tab-label{
/*	line-height:0 !important;
 height:initial!important;
 */
 padding:0 12px;
font-size:14px;
font-family:Roboto,
"Helvetica Neue",
sans-serif;
font-weight:500;
cursor:pointer;
box-sizing:border-box;
opacity:.6;
min-width:160px;
text-align:center;
position:relative}


